<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>DisplayHarbor</string>
    <key>CFBundleExecutable</key>
    <string>DisplayHarbor</string>
    <key>CFBundleIdentifier</key>
    <string>pub.mbd.displayharbor</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh-Hans</string>
    </array>
    <key>CFBundleName</key>
    <string>DisplayHarbor</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.1</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/mitaraifail/displayharbor/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>TvImqBtonQoWHUOSR/4XisCrFgigEmm1g0+BPeS/AXY=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
    <key>MBDLicenseAppID</key>
    <string></string>
    <key>MBDLicensePublicKey</key>
    <string></string>
    <key>MBDLicenseAPIBaseURL</key>
    <string>https://ai.mbd.pub</string>
    <key>MBDLicensePurchaseURL</key>
    <string>https://ai.mbd.pub/market</string>
</dict>
</plist>
